<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="google-signin-scope" content="profile email">
  <meta name="google-signin-client_id" content="30634033579-46upcq5quevugp6473gqqo79hbn2vomk.apps.googleusercontent.com">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">

  <script src="https://apis.google.com/js/platform.js" async defer></script>

  <title>Home Page</title>
</head>

<body>
  {{{body}}}
</body>

</html>