<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <title>Home Page</title>
</head>

<body>



  <div class="container">
    <div class="row">
      <div class="col-12">
        <form>

          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName" placeholder="Smith" required>
          </div>
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName" placeholder="John">
          </div>

          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="name@example.com">
          </div>

          <div class="form-group">
            <label for="schoolName">School Name</label>
            <input type="text" class="form-control" id="schoolName" placeholder="Unversity of Washington">
          </div>

          <div class="form-group">
            <label for="termType">School Type</label>
            <select class="form-control" id="termType">
              <option>Quarter</option>
              <option>Semester</option>
            </select>
          </div>

          <div class="form-group">
            <label for="startDate">Program Start Date</label>
            <input type="text" class="form-control" id="startDate">
          </div>

          <div class="form-group">
            <label for="endDate">Program End Date</label>
            <input type="text" class="form-control" id="endDate">
          </div>

          <div class="form-group">
            <label for="edLvl">School Type</label>
            <select class="form-control" id="edLvl">
              <option>Language Training</option>
              <option>Associate's</option>
              <option>Bachelor's</option>
              <option>Master's</option>
              <option>Doctoral</option>
            </select>
          </div>

          <div class="form-group">
            <label for="cipCode">Major Code</label>
            <input type="text" class="form-control" id="cipCode">
          </div>

        </form>

        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>

</body>

</html>